body { background-color: red; }

.amarillo {background-color: yellow; text-align: center; font-size: 100px}
h2 { background-color: yellow; font-size: 100px; }
img { border: 5px solid blue; width: 500px; height: 250px; }
header { background-color: yellow; }
nav { background-color: green;
margin-bottom: 100px
    }
section { background-color: orange; }
footer { background-color: brown; }
